/* Header styles */
header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
 
}
.logo {
    font-size: 1.5rem;
}

.search-bar {
    display: flex;
}

.search-bar input[type="text"] {
    padding: 5px;
    margin-right: 5px;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}
nav ul li a:hover {
    color: #ffcc00; /* Change the color on hover as desired */
}


/* Main Content Area styles */
main {
    padding: 20px;
}

/* Footer styles */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer ul {
    list-style-type: none;
}

footer ul li {
    display: inline;
    margin-right: 10px;
}

footer ul li a {
    text-decoration: none;
    color: #fff;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Section styles */
.merch-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    margin-top: 20px; /* Add spacing above the grid */
}

.merch-section {
    margin-bottom: 40px; /* Add spacing below each section */
}

.item {
    border: 1px solid #ccc;
    padding: 15px;
    text-align: center;
    transition: transform 0.3s ease; /* Add a smooth transition on hover */
}

.item:hover {
    transform: scale(1.05); /* Scale up the item on hover */
}

.item img {
    max-width: 100%;
    height: auto;
}

button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #555;
}

